img{
  background-color: blue;
}

h1{
  color: red;
  font-size: 200px;
}

.p1{
  color: green;
}
.p2{
  color: blue;
  background-color: red;
}

#heading{
  color: blue;
}

.kai{
  font-style: italic;
  color:yellow;
}

.circular{
  border-radius: 10%;
}

p:hover{
  background-color: gold;
}

img{
  background-color: blue;
}
