
   hr {
        background-color: white;
          border-style:none;
          border-top-style: dotted;
          border-color: grey;
          border-width: 2px;
          width: 5%;

      }

      h1{
        color: #66BFBF;
        }

      h3{
        font-style: italic;
        font-family: velvetica;
        color:#66BFBF;
        }

        .p3{
          color: green;
        }

        .circular{
          border-radius: 100%;
        }

        .submit{
          background-color: gray;
        }

    
